apiVersion: apps/v1
kind: Deployment
metadata:
  name: grade-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: grade-service
  template:
    metadata:
      labels:
        app: grade-service
    spec:
      containers:
      - name: grade-service
        image: your-dockerhub-username/grade-service:latest
        ports:
        - containerPort: 3001
        env:
        - name: MONGO_URI
          valueFrom:
            secretKeyRef:
              name: mongodb-secret
              key: mongo-uri
        - name: STUDENT_SERVICE_URL
          value: http://student-service
        - name: SUBJECT_SERVICE_URL
          value: http://subject-service
