apiVersion: apps/v1
kind: Deployment
metadata:
  name: student-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: student-service
  template:
    metadata:
      labels:
        app: student-service
    spec:
      containers:
      - name: student-service
        image: ameygawade/student-service:latest
        ports:
        - containerPort: 3000
        env:
          - name: MONGO_URI
            value: "mongodb://mongo:27017/student_db"  # URI pointing to MongoDB service
